extends layout

block content
	div#json
		p.code!= pretty
	
	div.bottomright
			div#cover(style="background-image:url(#{json.images[image]})")
				div#text
					a#name(href="http://blog.izqui.me") Jorge Izquierdo
					br 
					a#twitter(href="http://twitter.com/izqui9") @izqui9

	a#github(href="https://github.com/izqui/izqui.me")
		img(style="position: fixed; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
