doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/static/stylesheets/style.css')
		//TODO: Implement JSON highlighting
		//script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		//script(src='/static/javascripts/prettify.js')
	body
		block content