body {

	background-color: #fdf9ee;
	overflow-y: hidden;

}
.code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 13px;
	white-space: pre-wrap;
}


div#json{

	width: 50%;
	float: left;
	height: 100%;
	overflow: auto;
	overflow-y:scroll;
	
}


span.key{

	font-weight: bold;
	color:#7f3c28;
}
span.number{

	color:gray;
}
span.boolean{

	color:gray;
}
#cover{

	width:500px;
	height:282px;
	background-size: contain;
}

#text {

	position: fixed;
	bottom: 7px;
	right: 10px;
	text-align: right;
	
	
}
a#name{

	text-decoration: none;
	color:#ffffff;
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-size: 40px;
   	margin: 0px;
}
a#twitter{

	margin:0px;
	text-decoration: none;
	color:#ffffff;
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-size: 30px;
}
.bottomright{

	position: fixed;
	bottom: 5px;
	right: 5px;

}

@media screen and (max-width: 480px){

	div#json{

		width:100%;
	}
	#cover{

		display: none;
	}
}
}