body {

	background-color: #fdf9ee;
	overflow-y: hidden;

}
.code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 13px;
	white-space: pre-wrap;
}


div#json{

	width: 50%;
	float: left;
	height: 100%;
	overflow: auto;
	overflow-y:scroll;
	
}
div#right{

	width: 50%;
	height: 100%;
	float:left;
	position: relative;
	
}

span.key{

	font-weight: bold;
}
span.number{

	color:gray;
}
span.boolean{

	color:#a46f48;
}
img#cover{

	position: fixed;
	bottom:10px;
	right: 10px;
	width:40%;
	
	
}

@media screen and (max-width: 480px){

	div#json{

		width:100%;
	}
	div#right{

		display: hidden;
	}
}
}